<datasource-http-settings current="ctrl.current">
</datasource-http-settings>
<h3 class="page-heading">Contrail API Auth</h3>
<div class="gf-form-group">
    <div class="gf-form-inline">
            <div class="gf-form max-width-25">
                <span class="gf-form-label">Username</span>
                <input class="gf-form-input" type="text" ng-model='ctrl.current.jsonData.canUsername' placeholder="admin" required></input>
            </div>
            <div class="gf-form max-width-25">
                <span class="gf-form-label">Password</span>
                <input class="gf-form-input" type="text" ng-model='ctrl.current.jsonData.canPassword' placeholder="contrail123" required></input>
            </div>
            <div class="gf-form max-width-25">
                <span class="gf-form-label">Keystone URL</span>
                <input class="gf-form-input" type="text" ng-model='ctrl.current.jsonData.keystoneUrl' placeholder="" required></input>
            </div>
    </div>
</div>