<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="false">
  <div class="gf-form-inline">
    <!--<div class="gf-form max-width-8">
      <select class="gf-form-input" ng-model="ctrl.target.type" ng-options="ctrl.getTimeIntervals"></select>
    </div>-->

    <!--<div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.table" spellcheck="false" ng-blur="ctrl.onChangeInternal()" />
    </div>-->

    <!--<div class="gf-form" ng-if="!ctrl.target.rawQuery">
      <select ng-change="ctrl.onChangeInternal()" ng-model="ctrl.target.table"  ng-options="x.text for x in ctrl.getOptions()"></select>
    </div>-->

    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form">
        <metric-segment-model property="ctrl.target.table" get-options="ctrl.getTables()" on-change="ctrl.onChangeTable()"
          css-class="tight-form-item-xxlarge"></metric-segment-model>
      </div>
    </div>
    <div class="gf-form" ng-if="ctrl.target.pCols">
      <select class="tight-form-item-xxlarge" ng-change="ctrl.colSelect()" ng-model="ctrl.target.selCol"  ng-options="x.text for x in ctrl.target.pCols"></select>
    </div>
    <label> Advanced:
      <input type="checkbox" ng-model="ctrl.target.advanced">
    </label>
  </div>
  <div class="gf-form" ng-if="ctrl.target.advanced">
    <div>
      <label>Filter</label>
      <div class="gf-form-inline">
        <input type="text" ng-model="ctrl.target.selCol.text" class="tight-form-item-xxlarge" readonly>
        <select ng-model="ctrl.target.selFilterOp"  ng-options="x for x in ctrl.getOperators()" class="tight-form-item-xxlarge"></select>
        <input type="number" ng-model="ctrl.target.filterVal" class="tight-form-item-xxlarge"> 
      </div>
    <div>
      <label>Where</label>
      <div class="gf-form-inline">
      </div>
    </div>
  </div> 
</query-editor-row>
